.color div{
    background-color: #d0e3c4 ;
    text-align: left;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
.title .logo{
    font-size: 1.1em;
    margin-left: 2vw;
    margin-right: 2vw;
}
.title h1{
    font-size: 3em;
    font-weight: 500;
    color: #503047;
}
.title h2{
    color: #c05746;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.popover-header{
    text-align: center;
}

.popover-body{
    display: grid;
    align-items: center;
    padding: 4px;
}

.btn-popover{
    margin-top: 2vh;
    width: 50vw;
}
.test{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.test div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.btn-test{
    margin-top: 2vh;
    width: 50vw;
    height: 10vh;
    font-size: 2em;
    background-color: rgba(80, 48, 71,0.9);
    border: 0;
    color: #adc698;
}

.btn-test:hover{
    background-color: rgba(80, 48, 71,0.5);
}
#Home #footer{
    background-color: #4d9078 ;
    height: 18vh;
}
footer{
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer button{
    margin-left: 3vw;
    margin-right: 3vw;
    width: 25vw;
    font-weight: bolder !important;
    text-align: center;
}

.btn-outline-warning{
    border: 0px;
}
.icon{
    margin-left: 2vw;
    margin-right: 2vw;
}

.div-icons-languages{
  margin-top: 10vh; 
  margin-bottom: 5vh;
}

.icons-languages{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
}