@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    flex-direction: column;
}
.div-img h1{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 5vh;
    text-align: center;
}
.img{
    width: 90vw;
}
.dictionary{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.intro{
    text-align: left;
    
}

.text-intro{
    font-size: 1em;
}

h2{
    font-size: 2em;
    padding-bottom: 3vh;
    font-weight: bold;
}

.br{
    padding-bottom: 1em;
}

div .cmd{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    color: white;
    background-color: black !important;
    padding: 1vw;

}
a, a:hover, a:focus, a:active {
  color: blue;
}

.gif{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gif img{
    max-width: 80vw;
}