@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    flex-direction: column;
}
.div-img h1{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 1vh;
    text-align: center;
}
.img{
    width: 90vw;
}
.dictionary{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vh;
    text-align: left;
}
.dictionary .button {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.dictionary .button div{
    width: 40vw;
}
.dictionary .button button{
    text-align: center;
    background-color: #4d9078;
    font-weight: bolder;
    padding: 1vw;
    width: 25vw;
    height: 5vh;
    border-radius: 2.5vw;
}
.intro, .instruction{
    text-align: left;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 4vh;
}
.intro h2{
    padding-top: 4vh;
}

.arrow{
    border: solid orange;
    border-width: 0 3px 3px 0 ;
    display: inline-block;
    padding: 3px;
}


.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.text-intro{
    font-size: 1em;
}

h2{
    font-size: 2em;
    padding-bottom: 3vh;
    font-weight: bold;
}

.br{
    padding-bottom: 1em;
}

div .cmd{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9em;
    color: white;
    background-color: black !important;
    padding: 1vw;

}
.instruction a, a:hover, a:focus, a:active {
  color: blue;
}

.gif{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.gif img{
    max-width: 80vw;
}
.instruction ol{
    padding: 10vw;
}
.instruction .code{
    padding: 2vw;
    padding-left: 4vw;
    background-color: white !important;
    font-size: 0.9em;
}
.inden{
    padding-left: 50px;
}

.instruction ol .code code{
    font-size: 1.25em;
    font-weight: bold;
}

.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btns Button{
    margin: 2.5vw;
    padding: 1vh;
    width: 50vw;
    font-size: 1.05em;
    font-weight: bolder;
}

.btn-back{
    position: fixed;
    top: 92.5vh;
    left: 70vw;
}

.btn-back Button{
    width: 26vw;
    height: 5vh;
    text-align: center;
    font-weight: bolder;
}

.btn-a a:hover, a:active, a:focus{
    text-decoration: none;
    color: inherit;
}

